<div class="row justify-content-center">
  <div class="col-auto">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="row">
        <div class="col-12 p-1">
          <h2 class="login-instrucciones display-4">
            Escriba su nombre de usuario y contraseña
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 p-1">
          <input class="form-control" type="text" formControlName="usuario" placeholder="Usuario" required autofocus>
          <div *ngIf="usuario.invalid && (usuario.dirty || usuario.touched) && usuario.errors.required" class="alert-warning">
            Introduzca un nombre de usuario
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 p-1">
          <input class="form-control" type="password" formControlName="clave" placeholder="Clave" required>
          <div *ngIf="clave.invalid && (clave.dirty || clave.touched) && clave.errors.required" class="alert-warning">
            Introduzca una clave de usuario
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 p-1">
          <button [disabled]="!loginForm.valid" class="btn btn-block" type="submit">
            Iniciar sesión
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
