.login-card {
    max-width: 500px;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    box-shadow: none;
}

.logo-onkologikoa {
    width: 50%;
}

.login-titulo {
    color: #2A7B6F;
    font-size: 24px;
    font-weight: 400;
    padding: 40px;
}

.login-campo {
    color: #2A367B;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    width: 80%;
}

::ng-deep .login-campo .mat-form-field-outline  { /* Bordes */
    color: #2A367B;
}

::ng-deep .login-campo .mat-form-field-label { /* Label */
    color: #2A367B;
}

::ng-deep .login-campo .mat-form-field-required-marker { /* Asterisco del label */
    color: red;
}

::ng-deep .login-campo ::placeholder { /* Placeholder */
    color: rgba(42, 54, 123, 0.5);
}

.login-label {
    font-size: 16px;
}

.login-actions {
    margin-top: -5px;;
}

.login-button {
    color: white;
    background-color: #2A7B6F;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
}

.login-button:hover {
    background-color: rgba(42, 123, 111, 0.9);
}

.login-button:disabled {
    color: white;
    cursor: not-allowed;
}

:disabled {
    opacity: 0.5;
}
