<GridLayout rows="auto, auto, auto, auto" [formGroup]="loginForm">
  <GridLayout row="0" class="login-instrucciones" [isEnabled]="!spinner">
    <Label text="Escriba su nombre de usuario y contraseña" textWrap="true"></Label>
  </GridLayout>
  <GridLayout row="1" rows="auto, auto" class="login-form-user">
    <GridLayout row="0">
      <TextField style.placeholderColor="rgba(42, 54, 123, 0.5)" required
        [isEnabled]="!spinner"
        class="login-form-control"
        formControlName="usuario"
        hint="Usuario"
        autocorrect="false"
        autocapitalizationType="none">
      </TextField>
    </GridLayout>
    <GridLayout row="1">
      <Label *ngIf="usuario.invalid && (usuario.dirty || usuario.touched) && usuario.errors.required" class="alert-warning"
        text="Introduzca un nombre de usuario"></Label>
    </GridLayout>
  </GridLayout>
  <GridLayout row="2" rows="auto, auto" class="login-form-pssw">
    <GridLayout row="0">
      <TextField style.placeholderColor="rgba(42, 54, 123, 0.5)" required
        [isEnabled]="!spinner"
        class="login-form-control"
        formControlName="clave"
        hint="Clave" 
        secure="true"
        autocorrect="false"
        autocapitalizationType="none">
      </TextField>
    </GridLayout>
    <GridLayout row="1">
      <Label *ngIf="clave.invalid && (clave.dirty || clave.touched) && clave.errors.required" class="alert-warning"
        text="Introduzca una clave de usuario"></Label>
    </GridLayout>
  </GridLayout>
  <GridLayout row="3" [isEnabled]="loginForm.valid && !spinner" class="login-btn" (tap)="login()">
    <Label text="Iniciar sesión"></Label>
  </GridLayout>
  <ActivityIndicator
    [busy]="spinner"
    color="#2A367B"
    width="100"
    height="100"
    rowspan="3">
  </ActivityIndicator>
</GridLayout>
  