<mat-card class="login-card">
  <img mat-card-img class="logo-onkologikoa" src="../../../../../assets/logos/onkologikoa.svg" alt="Logo Onkologikoa">
  <mat-card-title class="login-titulo">
    Bienvenido a OnkoPros
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="login()" #form="ngForm">
      <div>
        <mat-form-field class="login-campo" appearance="outline">
          <mat-label class="login-label">Usuario</mat-label>
          <input matInput placeholder="Nombre de usuario" formControlName="usuario" autocomplete="off" required autofocus>
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="usuario.invalid && (usuario.dirty || usuario.touched) && usuario.errors.required">
            Debe introducir un nombre de usuario
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="login-campo" appearance="outline">
          <mat-label class="login-label">Clave</mat-label>
          <input matInput placeholder="Clave de usuario" formControlName="clave" required [type]="hidePassword ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="clave.invalid && (clave.dirty || clave.touched) && clave.errors.required">
            Debe introducir una clave de usuario
          </mat-error>
        </mat-form-field>
      </div>
    </form>
    <mat-card-actions>
      <button mat-button type="button" class="login-button" [disabled]="!loginForm.valid || spinner" (click)="form.ngSubmit.emit()">
        Iniciar sesión
      </button>
    </mat-card-actions>  
  </mat-card-content>
</mat-card>
