<GridLayout class="login-form" rows="auto, auto, auto, auto" [formGroup]="loginForm">
  <GridLayout class="row" row="0">
    <Label class="login-instrucciones" text="Escriba su nombre de usuario y contraseña"></Label>
  </GridLayout>
  <GridLayout class="row" row="1" rows="auto, auto">
    <GridLayout row="0">
      <TextField #usuarioField style.placeholderColor="rgba(42, 54, 123, 0.5)" required
        class="form-control"
        formControlName="usuario"
        hint="Usuario"
        autocorrect="false"
        autocapitalizationType="none">
      </TextField>
    </GridLayout>
    <GridLayout row="1">
      <Label *ngIf="usuario.invalid && (usuario.dirty || usuario.touched) && usuario.errors.required" class="alert-warning"
        text="Introduzca un nombre de usuario"></Label>
    </GridLayout>
  </GridLayout>
  <GridLayout class="row" row="2" rows="auto, auto">
    <GridLayout row="0">
      <TextField style.placeholderColor="rgba(42, 54, 123, 0.5)" required
        class="form-control"
        formControlName="clave"
        hint="Clave" 
        secure="true"
        autocorrect="false"
        autocapitalizationType="none">
      </TextField>
    </GridLayout>
    <GridLayout row="1">
      <Label *ngIf="clave.invalid && (clave.dirty || clave.touched) && clave.errors.required" class="alert-warning"
        text="Introduzca una clave de usuario"></Label>
    </GridLayout>
  </GridLayout>
  <GridLayout class="row" row="3">
    <Button [isEnabled]="loginForm.valid" class="btn-login" text="Iniciar sesión" (tap)="login()"></Button>
  </GridLayout>
</GridLayout>
  