<configuration>
  <system.webServer>
	<!-- Indica que todos los archivos .js son aplicaciones node.js y tienen que ser tratadas por el módule de iisnode -->
	<handlers>
		<add name="iisnode" path="*.js" verb="*" modules="iisnode" />
	</handlers>
	<rewrite>
		<rules>
			<rule name="app">
				<match url="api/"/>
				<action type="Rewrite" url="app_IIS.js" />
			</rule>
		</rules>
	</rewrite>
	<security>
    <requestFiltering>
      <hiddenSegments>
      	<add segment="node_modules"/>
				<add segment="app.js"/>
      </hiddenSegments>
    </requestFiltering>
  </security>  
  </system.webServer>
</configuration>
