<page-router-outlet actionBarVisibility="never"></page-router-outlet>

<GridLayout columns="*, *, *, *, *" height="10%" verticalAlignment="bottom" backgroundColor="lightblue">
  <GridLayout col="0" [nsRouterLink]="['/login']">
    <Label text="Login"></Label>
  </GridLayout>
  <GridLayout col="1" [nsRouterLink]="['']">
    <Label text="Inicio"></Label>
  </GridLayout>
  <GridLayout col="2" [nsRouterLink]="['/dashboard/entrevistas']">
    <Label text="Entrevistas"></Label>
  </GridLayout>
  <GridLayout col="3" [nsRouterLink]="['/dashboard/notificaciones']">
    <Label text="Notificaciones"></Label>
  </GridLayout>
  <GridLayout col="4" [nsRouterLink]="['/dashboard/perfil']">
    <Label text="Pefil"></Label>
  </GridLayout>
</GridLayout>
