<RadSideDrawer tkExampleTitle tkToggleNavButton drawerLocation="Bottom" drawerContentSize="150">
  <GridLayout tkDrawerContent rows="auto, *" class="drawer-content">
    <GridLayout row="0" horizontalAlignment="center" (tap)="cerrarDrawer()">
      <Label class="fas drawer-caret-down" text="&#xf0d7;"></Label>
    </GridLayout>
    <GridLayout row="1" columns="*, *" class="container" verticalAlignment="center">
      <StackLayout col="0" rows="*, *" class="drawer-feature drawer-nav" [nsRouterLink]="['/dashboard/perfil']"
        nsRouterLinkActive="active">
          <StackLayout row="0" horizontalAlignment="center">
            <Label class="fas" text="&#xf007;"></Label>
          </StackLayout>
          <StackLayout row="1" horizontalAlignment="center">
            <Label text="{{usuarioLogueado.Nombre | titlecase}} {{usuarioLogueado.PrimerApellido | titlecase}}" textWrap="true"></Label>
          </StackLayout>
      </StackLayout>
      <StackLayout col="1" rows="*, *" class="drawer-feature drawer-feature-logout" (tap)="logout()">
        <StackLayout row="0" horizontalAlignment="center">
          <Label class="fas" text="&#xf2f5;"></Label>
        </StackLayout>
        <StackLayout row="1" horizontalAlignment="center">
          <Label text="Cerrar sesión"></Label>
        </StackLayout>
      </StackLayout>
    </GridLayout>
  </GridLayout>
  <GridLayout tkMainContent rows="*, auto" class="container">
    <GridLayout row="0" columns="*">
      <GridLayout col="0">
        <page-router-outlet actionBarVisibility="never"></page-router-outlet>
      </GridLayout>
    </GridLayout>
    <GridLayout row="1" columns="*, *, *, *" class="nav-container" verticalAlignment="bottom">
      <StackLayout col="0" rows="*, *" class="nav" [nsRouterLink]="['/dashboard']" nsRouterLinkActive="active"
        [nsRouterLinkActiveOptions]="{exact: true}">
          <StackLayout row="0" class="nav-feature">
            <Label class="fas" text="&#xf015;"></Label>
          </StackLayout>
          <StackLayout row="1" class="nav-feature">
            <Label text="Inicio" textWrap="true"></Label>
          </StackLayout>
      </StackLayout>
      <StackLayout col="1" rows="*, *" class="nav" [nsRouterLink]="['/dashboard/entrevistas']" nsRouterLinkActive="active">
        <StackLayout row="0" class="nav-feature">
          <Label class="fas" text="&#xf481;"></Label>
        </StackLayout>
        <StackLayout row="1" class="nav-feature">
          <Label text="Entrevistas" textWrap="true"></Label>
        </StackLayout>
      </StackLayout>
      <StackLayout col="2" rows="*, *" class="nav" [nsRouterLink]="['/dashboard/notificaciones']" nsRouterLinkActive="active">
        <StackLayout row="0" class="nav-feature">
          <Label class="fas" text="&#xf7f5;"></Label>
        </StackLayout>
        <StackLayout row="1" class="nav-feature">
          <Label text="Avisos" textWrap="true"></Label>
        </StackLayout>
      </StackLayout>
      <StackLayout col="3" rows="*, *" class="nav nav-drawer" (tap)="abrirDrawer()">
        <StackLayout row="0" class="nav-feature">
          <Label class="fas" text="&#xf0c9;"></Label>
        </StackLayout>
        <StackLayout row="1" class="nav-feature">
          <Label text="Más" textWrap="true"></Label>
        </StackLayout>
      </StackLayout>
    </GridLayout>
  </GridLayout>
</RadSideDrawer>
