.dashboard-toolbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.toolbar {
    background-color: #2A367B;
}

.toolbar-fill {
    flex: 1 1 auto;
}

.toolbar-logo {
    color: white;
    outline: none;
}

.toolbar-logo img {
    padding-top: 5%;
}

.toolbar-menu {
    color: white;
    text-align: left;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    outline: none;
}

.toolbar-icon {
    font-size: 50px;
}

::ng-deep .toolbar-logo .mat-button-focus-overlay, ::ng-deep .toolbar-menu .mat-button-focus-overlay { /* Hover */
    background-color: transparent;
}

::ng-deep .toolbar-logo .mat-ripple-element, ::ng-deep .toolbar-menu .mat-ripple-element { /* Active (click) */
    background-color: transparent;
}

.toolbar-sidenav-container {
    flex: 1; /* Permite al contenido comportarse como un elemento scrollable */
}

.sidenav-icon {
    color: #2A367B;
    font-size: 40px;
    width: 40px;
    height: 40px;
    margin: 10px;
}

.sidenav-icon .mat-badge-content {
    color: white;
    background-color: orange;
    max-width: 30px;
    max-height: 30px;
    font-size: 14px;
    font-weight: 500;
    top: -8px;
    right: -8px;
}

.sidenav-txt {
    color: #2A367B;
    font-size: 20px;
    margin: 10px 10px 10px 20px;
}

.sidenav-icon-exit, .sidenav-txt-exit {
    color: red;
}

.sidenav-divider {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidenav-item:focus { /* Focus por defecto deshabilitado */
    background-color: transparent;
}

.sidenav-item.active .sidenav-icon, .sidenav-item.active .sidenav-txt {
    color: #2A7B6F;
    font-weight: 500;
    background-color: transparent;
}

.sidenav-item:hover {
    background-color: rgba(42, 123, 111, 0.1);
}

::ng-deep .sidenav-item:active .mat-ripple-element {
    background-color: rgba(42, 123, 111, 0.1);
}
