<GridLayout *ngIf="item" rows="auto, auto, auto, auto, auto, auto" class="container-item" verticalAlignment="center">
  <GridLayout *ngIf="item.Tooltip" row="0" class="tooltip" horizontalAlignment="right" (tap)="mostrarTooltip()">
    <Label class="fas" text="&#xf05a;"></Label>
  </GridLayout>
  <GridLayout row="1" class="item-header">
    <Label [text]="item?.Titulo" textWrap="true"></Label>
  </GridLayout>
  <GridLayout *ngIf="item?.Subtitulo" row="2" class="item-header-2">
    <Label [text]="item?.Subtitulo" textWrap="true"></Label>
  </GridLayout>
  <!-- RADIO BUTTON & CHECKBOX -->
  <RadListView row="3" [items]="item?.Valores" class="item-lista" *ngIf="item.TipoItem === 'RB' || item.TipoItem === 'CB'">
    <ng-template tkListItemTemplate let-val="item">
      <StackLayout orientation="vertical">
        <GridLayout class="item-opcion" rows="auto, auto, auto">
          <GridLayout *ngIf="item.TipoItem === 'RB' && val != null" row="0" columns="*, auto">
            <CheckBox col="0" class="item-opcion-cb"
              [isEnabled]="!spinner"
              [checked]="val.IdValor === checkedValor$?.IdValor"
              [text]="val.Titulo" textWrap="true"
              boxType="circle"
              fillColor="#2A367B"
              (tap)="setValor(val)">
            </CheckBox>
            <GridLayout *ngIf="val.VisibleValor" col="1" class="item-opcion-cb-val" verticalAlignment="center" horizontalAlignment="right">
              <Label [text]="val.Valor"></Label>
            </GridLayout>
          </GridLayout>
          <GridLayout *ngIf="item.TipoItem ==='CB' && val != null" row="1" columns="*, auto">
            <CheckBox col="0" class="item-opcion-cb"
              [isEnabled]="!spinner"
              [checked]="val.Seleccionado"
              [text]="val.Titulo" textWrap="true"
              boxType="square"
              fillColor="#2A367B"
              (tap)="setValor(val)">
            </CheckBox>
            <GridLayout *ngIf="val.VisibleValor" col="1" class="item-opcion-cb-val" verticalAlignment="center" horizontalAlignment="right">
              <Label [text]="val.Valor"></Label>
            </GridLayout>
          </GridLayout>
          <TextField #cajaTexto *ngIf="val.CajaTexto && valoresSeleccionados?.includes(val)" row="2"
            [isEnabled]="!spinner"
            [(ngModel)]="valoresSeleccionados[valoresSeleccionados.indexOf(val)].ValorTexto"
            class="item-caja-texto"
            hint="Elabore su propia respuesta"
            secure="false"
            autocorrect="false"
            autocapitalizationType="none"
            style.placeholderColor="rgba(42, 54, 123, 0.6)">
          </TextField>
        </GridLayout>
      </StackLayout>
    </ng-template>
  </RadListView>
  <!-- SELECT BUTTON -->
  <GridLayout row="4" rows="auto, auto" *ngIf="item.TipoItem === 'SB'" class="item-lista dropdown-container">
    <DropDown row="0" class="dropdown item-opcion"
      hint="Seleccione una de las opciones..."
      [items]="tituloValores"
      [(ngModel)]="indiceSeleccionado"
      (selectedIndexChanged)="setValor(null)">
    </DropDown>
    <TextField #cajaTexto *ngIf="item.Valores[indiceSeleccionado]?.CajaTexto" row="1"
      [isEnabled]="!spinner"
      [(ngModel)]="item.Valores[indiceSeleccionado].ValorTexto"
      class="item-caja-texto-sb"
      hint="Elabore su propia respuesta"
      secure="false"
      autocorrect="false"
      autocapitalizationType="none"
      style.placeholderColor="rgba(42, 54, 123, 0.6)">
    </TextField>
  </GridLayout>
  <GridLayout row="5" columns="auto, auto, *, auto, auto">
    <GridLayout col="0" class="fas-l" [isEnabled]="idItemsRespondidos[paginaSeleccionada-2] && !spinner"
      (tap)="paginaSeleccionada=1; extraerItemRespondido()">
        <Label class="fas" text="&#xf100;"></Label>
    </GridLayout>
    <GridLayout col="1" class="fas-l" [isEnabled]="idItemsRespondidos[paginaSeleccionada-2] && !spinner"
      (tap)="paginaSeleccionada=paginaSeleccionada-1; extraerItemRespondido()">
        <Label class="fas" text="&#xf104;"></Label>
    </GridLayout>
    <GridLayout col="2" class="item-btn" (tap)="responder()" [isEnabled]="valoresSeleccionados[0] && !spinner">
      <Label text="Responder"></Label>
    </GridLayout>
    <GridLayout col="3" class="fas-r" [isEnabled]="idItemsRespondidos[paginaSeleccionada] && !spinner"
      (tap)="paginaSeleccionada=paginaSeleccionada+1; extraerItemRespondido()">
        <Label class="fas" text="&#xf105;"></Label>
    </GridLayout>
    <GridLayout col="4" class="fas-r" [isEnabled]="idItemsRespondidos[paginaSeleccionada] && !spinner"
      (tap)="paginaSeleccionada=idItemsRespondidos.length; extraerItemRespondido()">
        <Label class="fas" text="&#xf101;"></Label>
    </GridLayout>
  </GridLayout>
</GridLayout>
<ActivityIndicator
  [busy]="spinner"
  color="#2A367B"
  width="100"
  height="100"
  rowspan="3">
</ActivityIndicator>
