<GridLayout *ngIf="item" rows="auto, auto, auto" class="container-item" verticalAlignment="center">
  <GridLayout row="0" class="item-header">
    <Label [text]="item?.Titulo" textWrap="true"></Label>
  </GridLayout>
  <RadListView row="1" [items]="item?.Valores" class="item-lista">
    <ng-template tkListItemTemplate let-val="item">
      <StackLayout orientation="vertical">
        <GridLayout class="item-opcion" rows="auto, auto, auto" *ngIf="item.TipoItem === 'RB' || item.TipoItem === 'CB'">
          <GridLayout  *ngIf="item.TipoItem === 'RB' && val != null" row="0" columns="*, auto">
            <CheckBox col="0" class="item-opcion-cb"
              [isEnabled]="!spinner"
              [checked]="val.IdValor === checkedValor$?.IdValor"
              [text]="val.Titulo" textWrap="true"
              boxType="circle"
              fillColor="#2A367B"
              (tap)="setValor(val)">
            </CheckBox>
            <GridLayout *ngIf="val.VisibleValor" col="1" class="item-opcion-cb-val" verticalAlignment="center" horizontalAlignment="right">
              <Label [text]="val.Valor"></Label>
            </GridLayout>
          </GridLayout>
          <GridLayout *ngIf="item.TipoItem ==='CB' && val != null" row="1" columns="*, auto">
            <CheckBox col="0" class="item-opcion-cb"
              [isEnabled]="!spinner"
              [text]="val.Titulo" textWrap="true"
              boxType="square"
              fillColor="#2A367B"
              (tap)="setValor(val)">
            </CheckBox>
            <GridLayout *ngIf="val.VisibleValor" col="1" class="item-opcion-cb-val" verticalAlignment="center" horizontalAlignment="right">
              <Label [text]="val.Valor"></Label>
            </GridLayout>
          </GridLayout>
          <TextField #cajaTexto *ngIf="val.CajaTexto && valoresSeleccionados?.includes(val)" row="2"
            [isEnabled]="!spinner"
            [(ngModel)]="valoresSeleccionados[valoresSeleccionados.indexOf(val)].ValorTexto"
            class="item-caja-texto"
            hint="Elabore su propia respuesta"
            secure="false"
            autocorrect="false"
            autocapitalizationType="none"
            style.placeholderColor="rgba(42, 54, 123, 0.6)">
          </TextField>
        </GridLayout>
      </StackLayout>
    </ng-template>
  </RadListView>
  <GridLayout row="2" class="item-btn" [isEnabled]="valoresSeleccionados?.length > 0 && !spinner" (tap)="responder()">
    <Label text="Responder"></Label>
  </GridLayout>
</GridLayout>
<ActivityIndicator
  [busy]="spinner"
  color="#2A367B"
  width="100"
  height="100"
  rowspan="3">
</ActivityIndicator>
