.row-item {
    color: #4D2A7B;
    margin-top: 10%;
}

.col-item {
    margin: 0 auto;
    padding: 5%;
}

.titulo-item {
    color: #2A367B;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 5%;
}

.titulo-item-2 {
    color: #2A7B6F;
    font-size: 22px;
    padding-bottom: 5%;
}

.opciones-item {
    color: #2A367B;
    font-size: 20px;
    padding-bottom: 10%;
}

/* Caja de texto */

.opcion-caja-texto {
    color: #2A367B;
    font-style: normal;
    background-color: rgba(77, 42, 123, 0.1); 
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 1%;
}

.opcion-caja-texto-sb {
    padding-top: 1%;
}

.opcion-caja-texto::placeholder {
    color: rgba(42, 54, 123, 0.6);
    font-style: italic;
}

/* SB: Botón seleccionar */

.ng-select.custom ::ng-deep .ng-select-container  {
    color: #2A367B;
    font-size: 20px;
    box-shadow: none;
    border-color: #2A367B;
    border-width: 1px;
    border-radius: 5px;
}

.ng-select.custom ::ng-deep .ng-option {
    color: #2A367B;
}

.ng-select.custom ::ng-deep .ng-option.ng-option-selected{ /* Color de fonde de la pción marcada */
    color: #2A367B;
    background-color: rgba(0, 128, 0, 0.1);
}

.ng-select.custom ::ng-deep .ng-option.ng-option-marked { /* Color de fondo hoover */
    background-color: rgba(77, 42, 123, 0.1);
}

.ng-select.custom ::ng-deep .ng-dropdown-panel {
    margin-top: 1px;
    border-color: #2A367B;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
}

.ng-select-val {
    color: red !important;
}

/* Botón responder */

.btn-responder {
    color: white;
    background-color: #4D2A7B;
    box-shadow: none;
    border-radius: 5px;
}

.btn-responder:hover {
    color: white;
    background-color: rgba(77, 42, 123, 0.95);
}

/* RB: Radio button & CB: Checkbox */

/* Estilos de los valores por defecto */

.custom-control {
    color: rgba(0, 0, 0, 0.6);
}

.custom-control-label {
    margin-left: 10%;
}

.custom-control-label-val {
    position: relative;
}

.custom-control-label-val-content {
    color: red;
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    margin: -15% 0 0 -25%;
}

input[type="radio"] + label:before, input[type="checkbox"] + label:before {
    border-color: rgba(42, 54, 123, 0.6);
    background-color: rgba(42, 54, 123, 0.1);
    box-shadow: none;
    top: 50%;
    margin-top: -9px;
}

input[type="radio"]:not(.filled-in) + label:after, input[type="checkbox"]:not(.filled-in) + label:after {
    top: 50%;
    margin-top: -9px;
}

/* Estilos de los valores al pasar por ellos */

label:hover {
    cursor: pointer; 
}

.custom-control:hover {
    color: rgba(0, 128, 0, 1.0);
    font-weight: 500;
}

input[type="radio"]:hover + label:before, input[type="checkbox"]:hover + label:before {
    background-color: rgba(0, 128, 0, 0.1);
    border-color: green;
}

/* Estilo de los valores seleccionados */

input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
    color: #2A367B;
    font-weight: 500;
}

input[type="radio"]:checked + label:before, input[type="checkbox"]:checked + label:before {
    background-color: #2A367B;
    border-color: #2A367B;
}

/* Estilos al pasar por los valores ya seleccionados */

input[type="checkbox"]:checked:hover + label {
    color: rgba(42, 54, 123, 0.8);
    font-weight: 500;
}

input[type="checkbox"]:checked:hover + label:before {
    background-color: rgba(42, 54, 123, 0.8);
    border-color: rgba(42, 54, 123, 0.8);
}
