.item-container {
    margin: 30px;
}

/* CARD */

.item-card {
    color: #2A367B;
    width: 600px;
    outline: none;
    border-radius: 5px;
    margin: 10px;
}

.item-card-content {
    margin-top: 10px;
    margin-bottom: 20px;
}

::ng-deep .mat-card-header-text {
    width: 100%;
}

.item-titulo {
    font-size: 20px;
    font-weight: 500;
}

.item-subtitulo {
    font-size: 16px;
    font-weight: 400;
}

/* TOOLTIP */

.item-tooltip {
    color: #2A367B;
    font-size: 30px;
    cursor: pointer;
}

::ng-deep .tooltip-custom {
    color: white;
    background-color: #2A7B6F;
    font-size: 16px;
    border-radius: 5px;
}

/* RADIO BUTTON & CHECKBOX & SELECT BUTTON */

.item-radio-group, .item-checkbox-group, .item-select-group {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.item-select-group {
    margin-left: 15px;
    width: 90%;
}

.item-radio-button, .item-checkbox {
    margin: 5px;
}

::ng-deep .item-radio-button.mat-radio-checked, ::ng-deep .item-checkbox.mat-checkbox-checked,
::ng-deep .item-select .mat-select-value .mat-select-value-text {
    color: #2A7B6F;
    font-weight: 500;
}

::ng-deep .item-radio-button .mat-radio-outer-circle, ::ng-deep .item-checkbox .mat-checkbox-frame {
    border-color: #2A367B;
}

::ng-deep .item-radio-button.mat-accent .mat-radio-inner-circle, ::ng-deep .item-checkbox.mat-checkbox-checked .mat-checkbox-background {
    background-color: #2A7B6F;
}

::ng-deep .item-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #2A7B6F; 
}

::ng-deep .item-radio-button .mat-ripple-element, ::ng-deep .item-checkbox .mat-ripple-element {
    background-color: #2A7B6F !important;
}

.item-radio-titulo, .item-checkbox-titulo {
    white-space: normal;
}

.item-select-titulo {
    color: #2A367B;
}

.item-radio-valor, .item-checkbox-valor, .item-select-valor {
    color: red;
}

/* SELECT WRAP WORKAROUNG */

::ng-deep .mat-select-panel mat-option.mat-option {
    height: unset;
}
  
::ng-deep .mat-option-text.mat-option-text {
  white-space: normal;
}

/* SELECT PANEL */

::ng-deep .item-select-group .mat-select-arrow {
    color: #2A367B;
}

::ng-deep .mat-select-panel .mat-option.mat-active {
    background-color: rgba(42, 123, 111, 0.1);
}

::ng-deep .mat-select-panel .mat-option.mat-active.mat-selected {
    background-color: rgba(42, 123, 111, 0.1);
}

::ng-deep .mat-select-panel .mat-option.mat-selected .item-select-titulo {
    color: #2A7B6F;
    font-weight: 500;
}

::ng-deep .mat-select-panel .mat-option:hover {
    background-color: rgba(42, 123, 111, 0.1) !important;
}

/* CAJA TEXTO & SELECT BUTTON FORM FIELD*/

.item-caja-texto {
    color: black;
    margin-left: 33px;
    width: 90%;
}

.item-caja-texto-cb {
    margin-left: 30px;
}

.item-caja-texto-sb {
    font-size: 16px;
    margin-left: 15px;
    width: 90%;
}

::ng-deep .item-caja-texto .mat-form-field-label, ::ng-deep .item-select-group .mat-form-field-label {
    color: rgba(42, 54, 123, 0.5) !important;
}

::ng-deep .item-caja-texto.mat-focused .mat-form-field-label, ::ng-deep .item-select-group.mat-focused .mat-form-field-label {
    color: #2A367B !important;
}

::ng-deep .item-caja-texto .mat-form-field-underline, ::ng-deep .item-select-group .mat-form-field-underline {
    background-color: #2A367B !important;
}

::ng-deep .item-caja-texto .mat-hint {
    color: black;
}

/* BOTÓN RESPONDER */

.item-button {
    color: white;
    background-color: #2A7B6F;
    font-size: 18px;
    font-weight: 400;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    width: 93%;
}

.item-button:hover {
    background-color: rgba(42, 123, 111, 0.9);
}

.item-button:disabled {
    color: white;
    cursor: not-allowed;
}

:disabled {
    opacity: 0.5;
}
