<div class="item-container" fxLayoutAlign="center">
  <mat-card class="item-card">
    <mat-card-header>
      <mat-card-title class="item-titulo">{{item?.Titulo}}</mat-card-title>
      <mat-card-subtitle class="item-subtitulo">{{item?.Subtitulo}}</mat-card-subtitle>
      <mat-icon *ngIf="item?.Tooltip" class="item-tooltip" matTooltipClass="tooltip-custom" matTooltip={{item?.Tooltip}} 
        matTooltipPosition="above">help</mat-icon>
    </mat-card-header>
    <form #form="ngForm" (ngSubmit)="responder()">
      <mat-card-content class="item-card-content">
        <!-- RADIO BUTTON -->
        <mat-radio-group *ngIf="item?.TipoItem === 'RB'" class="item-radio-group"
          [disabled]="spinner">
            <div *ngFor="let val of item.Valores">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-radio-button class="item-radio-button"
                  [value]="val"
                  (change)="setValor(val)"
                  [checked]="val.Seleccionado">
                    <div class="item-radio-titulo">{{val.Titulo}}</div>
                </mat-radio-button>
                <div *ngIf="val.VisibleValor" class="item-radio-valor">
                  {{val.Valor}}
                </div>
              </div>
              <mat-form-field *ngIf="val.CajaTexto && valoresSeleccionados?.includes(val)" class="item-caja-texto">
                <textarea #cajaTexto matInput matTextareaAutosize autofocus name="valor-personalizado" 
                  placeholder="Elabore su propio comentario"
                  [(ngModel)]="valoresSeleccionados[valoresSeleccionados.indexOf(val)].ValorTexto"
                  autocomplete="off"
                  maxlength="255">
                </textarea>
                <mat-hint align="end">{{cajaTexto.value.length}} / 255</mat-hint>
              </mat-form-field>
            </div>
        </mat-radio-group> 
        <!-- CHECKBOX -->
        <div *ngIf="item?.TipoItem === 'CB'" class="item-checkbox-group">
          <div *ngFor="let val of item.Valores">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox class="item-checkbox"
                (change)="setValor(val)"
                [checked]="val.Seleccionado"
                [disabled]="spinner">
                  <div class="item-checkbox-titulo">{{val.Titulo}}</div>
              </mat-checkbox>
              <div *ngIf="val.VisibleValor" class="item-checkbox-valor">
                {{val.Valor}}
              </div>
            </div>
            <mat-form-field *ngIf="val.CajaTexto && valoresSeleccionados?.includes(val)"
              class="item-caja-texto item-caja-texto-cb">
                <textarea #cajaTexto matInput matTextareaAutosize autofocus name="valor-personalizado" 
                  placeholder="Elabore su propio comentario"
                  [(ngModel)]="valoresSeleccionados[valoresSeleccionados.indexOf(val)].ValorTexto"
                  autocomplete="off"
                  maxlength="255">
                </textarea>
                <mat-hint align="end">{{cajaTexto.value.length}} / 255</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <!-- SELECT BUTTON -->
        <div *ngIf="item?.TipoItem === 'SB'">
          <mat-form-field class="item-select-group">
            <mat-label>Seleccione una de las opciones</mat-label>
            <mat-select class="item-select"
              [(value)]="valoresSeleccionados[0]"
              (selectionChange)="autofocus()"
              [disabled]="spinner">
                <mat-option *ngFor="let val of item.Valores" [value]="val">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                      <div class="item-select-titulo">{{val.Titulo}}</div>
                    <div *ngIf="val.VisibleValor" class="item-select-valor">
                      {{val.Valor}}
                    </div>
                  </div>
                </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="valoresSeleccionados[0]?.CajaTexto" class="item-caja-texto item-caja-texto-sb">
            <textarea #cajaTexto matInput matTextareaAutosize autofocus name="valor-personalizado" 
              placeholder="Elabore su propio comentario"
              [(ngModel)]="valoresSeleccionados[0].ValorTexto"
              autocomplete="off"
              maxlength="255">
            </textarea>
            <mat-hint align="end">{{cajaTexto.value.length}} / 255</mat-hint>
          </mat-form-field>
        </div>
      </mat-card-content>
      <!-- BOTÓN RESPONDER -->
      <mat-card-actions align="center">
        <button mat-button type="submit" class="item-button" [disabled]="!valoresSeleccionados[0] || spinner">
          Responder
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>


<!--
  <ngb-pagination [collectionSize]="idItemsRespondidos.length" [pageSize]="1" [maxSize]="6" [rotate]="true" [ellipses]="true"
    [boundaryLinks]="true" [(page)]="paginaSeleccionada" (pageChange)="extraerItemRespondido()">
  </ngb-pagination>
-->