.container-instr {
    margin: 0 5 0 5;
}

.intrucciones-header {
    color: white;
    background-color: #2A367B;
    font-size: 24;
    text-align: center;
    padding: 10;
    border-radius: 5;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 40;
}

.instrucciones-txt {
    color: #2A367B;
    font-size: 22;
    margin-left: 10;
    margin-bottom: 20;
}

.instrucciones-txt-2 {
    color: rgba(42, 54, 123, 0.7);
    margin-bottom: 40;
}

.instrucciones-btn {
    color: white;
    background-color: #4D2A7B;
    font-size: 24;
    text-align: center;
    padding: 10;
    border-radius: 5;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.instrucciones-btn.active {
    color: #4D2A7B;
    background-color: transparent;
}
