.instrucciones-container {
    margin: 30px;
}

.instrucciones-card {
    color: #2A367B;
    width: 600px;
    outline: none;
    border-radius: 5px;
    margin: 10px;
}

.instrucciones-titulo {
    font-size: 20px;
    font-weight: 500;
}

.instrucciones-content {
    color: black;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
    margin: 15px;
}

.instrucciones-item {
    margin-top: 15px;
}

.instrucciones-button {
    color: #2A7B6F;
    font-size: 18px;
    font-weight: 400;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    outline: none;
}

::ng-deep .instrucciones-button .mat-button-focus-overlay {
    background-color: transparent;
}

.instrucciones-button:focus {
    color: white;
    background-color: #2A7B6F;
}

.instrucciones-button:hover {
    color: white;
    background-color: rgba(42, 123, 111, 0.9);
}
