<div class="row row-instr">
  <div class="col-12">
    <div class="row justify-content-center">
      <h1 class="col-12 col-md-6 instrucciones display-4">
        <div class="row">
          <div class="col-2 col-bulb">
            <i class="fas fa-lightbulb"></i>
          </div>
          <div class="col-10 instr-1">
            {{entrevista?.instr_1}}
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-2 col-bulb">
            <i class="fas fa-lightbulb"></i>
          </div>
          <div class="col-10 instr-2">
            {{entrevista?.instr_2}}
          </div>
        </div>
      </h1>
    </div>
    <div class="row justify-content-center">
      <button class="btn btn-instr col-12 col-md-6"
        routerLink="/dashboard/entrevistas/{{entrevista?.id}}/items">
          ¡Comenzar la entrevista!
      </button>
    </div>
  </div>
</div>
