<div class="instrucciones-container" fxLayoutAlign="center">
  <mat-card class="instrucciones-card">
    <mat-card-header>
      <mat-card-title class="instrucciones-titulo">Instrucciones</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="instrucciones-content">
      <div class="instrucciones-item">{{entrevista?.InstruccionPrincipal}}</div>
      <div class="instrucciones-item">{{entrevista?.InstruccionSecundaria}}</div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button class="instrucciones-button" (click)="retroceder()">
        Volver
      </button>
      <button #buttonRef mat-button class="instrucciones-button"
        routerLink="/dashboard/entrevistas/{{entrevista?.IdEntrevista}}/items" autofocus>
          Comenzar entrevista
      </button>
    </mat-card-actions>
  </mat-card>
</div>
