.login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.row {
    display: block; /* IE11 */
}

.logo {
    width: 60%;
    display: table;
    margin: auto; 
}

.login-header {
    font-size: 22px;
}
