<div class="container login-container justify-content-center">
    <div class="row">
        <div class="col-auto">
            <div class="row">
                <div class="col-12">
                    <img class="logo" src="assets/logos/onkologikoa.svg" alt="Logo Onkologikoa">
                </div>
            </div>
            <div class="row p-5">
                <div class="col-12">
                    <h2 class="login-header display-4 text-center">
                        Bienvenido a OnkoPros
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
