.login-descripcion {
    font-size: 16px;
}

.form-control {
    color: #2A367B;
    font-weight: 900;
    background-color:#F2F4FF;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: none;
}

/* Campo de texto seleccionado */
.form-control:focus {
    border-bottom-color: #2A367B;

}

/* Placeholder */
.form-control::placeholder {
    font-weight: normal;
    color: #2A367B;
}

/* Placeholder */
.form-control:focus::placeholder {
    font-weight: normal;
    color: rgba(42, 54, 123, 0.5);
}

.btn {
    color: white;
    background-color: #2A367B;
    border-radius: 5px;
    cursor: not-allowed;
}

.btn:hover {
    background-color: rgba(28, 43, 124, 0.9);
}

.alert-warning {
    color: darkorange;
    background-color: transparent;
    font-size: 14px;
}

.alert-danger {
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 0, 0, 0.75);
    background-color:rgba(255, 0, 0, 0.10);
    border: none;
}
