<h4>4-ITEM</h4>

<div *ngIf="item">
    {{item.titulo}}
    <form (ngSubmit)="onSubmit()">
        <label *ngFor="let valor of item.valores; let i = index">
            <input type="{{item.tipo}}" name="valor" valor="item.valores[i]"
                (click)="setValor(item.id, item.valores[i], null)">{{item.valores[i]}}<br>
        </label>
        <div *ngIf="valor?.valor === 'Otro'">
            <input [(ngModel)]="valor.valorTexto" name="valorTexto"
                placeholder="Elabore su propia respuesta" autocomplete="off"/>
        </div>
        <button type="submit" [disabled]="!valor?.valor">Siguiente pregunta</button>
    </form>
</div>

<div *ngIf="!itemDisponible">
    ¡Enhorabuena, ha finalizado la entrevista!<br>
    <button (click)="goToEntrevistas()">Realizar otra entrevista</button>
    <button (click)="goToInicio()">Volver al inicio</button>
</div>
