<div class="container notFound justify-content-center">
  <div class="row">
    <div class="col-auto">
      <div class="row">
        <div class="col-12 p-3 text-center">
          <h1 class="notFoundMensaje display-4">
            El recurso buscado no existe
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 p-3">
          <button class="btn btn-block" routerLink="/dashboard">
            Volver a la página de inicio
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
