<h2 fxShow fxHide.lt-sm mat-dialog-title class="dialog-titulo">
  <img src="./../../assets/logos/onkologikoa.ico">
  <span class="dialog-nombre">OnkoPros</span>
</h2>
<mat-dialog-content>
  <h3>{{data.mensaje_1}}</h3>
  <p *ngIf="data.alerta" class="dialog-alerta">
    {{data.mensaje_2}}
  </p>
  <p *ngIf="!data.alerta" class="dialog-advertencia">
    {{data.mensaje_2}}
  </p>
</mat-dialog-content>
<mat-dialog-actions *ngIf="!data.perfiles" align="end">
  <div *ngIf="data.alerta">
    <button mat-button class="dialog-button" [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
  </div>
  <div *ngIf="!data.alerta">
    <button mat-button class="dialog-button" [mat-dialog-close]="false" cdkFocusInitial>Cancelar</button>
    <button mat-button class="dialog-button" [mat-dialog-close]="true">Aceptar</button>
  </div>
</mat-dialog-actions>
<mat-dialog-actions *ngIf="data.perfiles" align="center">
  <mat-list>
    <mat-list-item class="dialog-item" *ngFor="let perfil of data.perfiles; let i = index">
      <button mat-button class="dialog-perfil" [mat-dialog-close]="perfil">
        {{perfil}}
      </button>
    </mat-list-item>
  </mat-list>
</mat-dialog-actions>
