.dialog-titulo {
    color:  #2A7B6F;
}

.dialog-nombre {
    float: right;
}

.dialog-alerta {
    color: darkgreen;
}

.dialog-advertencia {
    color: darkred;
}

.dialog-button, .dialog-perfil {
    color: #2A7B6F;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    outline: none;
    padding: 10px;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.dialog-button:focus, .dialog-perfil:focus {
    color: white;
    background-color: #2A7B6F;
}

.dialog-button:hover, .dialog-perfil:hover {
    color: white;
    background-color: rgba(42, 123, 111, 0.9);
}

.dialog-item {
    margin-bottom: 5px;
}
