.row-ent {
    margin-top: 10%;
}

.col-ent {
    margin: 0 auto;
    padding: 5%;
}

.btn-entrevista {
    color: #4D2A7B;
    background-color: rgba(77, 42, 123, 0.1);
    display: flex;
    justify-content: center;
    box-shadow: none;
    border-radius: 5px;
}
.btn-entrevista:hover {
    color: white;
    background-color: #4D2A7B;
}

.popover {
    font-size: 16px;
}

.ent-nombre {
    font-size: 20px;
}

/* Entervista finaliza CSS */

.img-col, .felicitacion-col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}

.img-fluid {
    width: 50%;
    height: auto;
}

.msj-ent-finalizada {
    color: #4D2A7B;
    font-size: 22px;
    padding-bottom: 5%;
    border-bottom: solid;
    border-width: 1px;
    border-color: #2A367B;
}
