<div class="row row-ent">
    <div class="col-6 col-ent">
        <div *ngFor="let entrevista of entrevistas" class="row">    
            <button class="btn col-12 btn-entrevista p-2 m-1"  popoverClass="popover"
                ngbPopover="{{entrevista.descripcion}}" triggers="mouseenter:mouseleave"
                [placement]="['left', 'auto']" 
                routerLink="/dashboard/entrevistas/{{entrevista.id}}" routerLinkActive="active">
                    <a class="ent-nombre">
                        {{entrevista.titulo}}
                    </a>
            </button>
        </div>
        <div *ngIf="!entrevistasDisponibles" class="row">
            <div class="col-md-4 img-col">
              <img class="img-fluid" src="./../../../assets/imagenes/party.png"
                alt="Globos de celebración"/>
            </div> 
            <div class="col-md-8 felicitacion-col">
              <h1 class="msj-ent-finalizada display-4 text-center">
                    <i>¡Enhorabuena, está al día con las entrevistas!</i>
              </h1>
            </div>
        </div>
    </div>
</div>
