<div class="row perfil-usuario">
  <div class="col-md-4 img-col">
    <img class="img-fluid" src="./../../../assets/imagenes/usuario.png" alt="Imagen de usuario"/>
  </div> 
  <div class="col-md-8 datos-col">
    <h1 class="usuario-header display-4 text-center">
      <i>{{usuarioLogueado.nombre  | titlecase}} {{usuarioLogueado.apellido_1  | titlecase}}
        {{usuarioLogueado.apellido_2 | titlecase}}</i>
      <br>
      <span class="rol-header display-4">
        {{usuarioLogueado.rol | titlecase}}
      </span>
    </h1>
    <div class="datos-usuario">
      <div class="row dato p-1">
        <div class="col-6 caracteristicas-usuario">
          Nombre de usuario
        </div>
        <div class="col-6 campos-usuario">
          {{usuarioLogueado.usuario}}
        </div>
      </div>
      <div class="row dato p-1">
        <div class="col-6 caracteristicas-usuario">
          Sexo
        </div>
        <div class="col-6 campos-usuario">
          <div *ngIf="usuarioLogueado.sexo == 1">
            Hombre
          </div>
          <div *ngIf="usuarioLogueado.sexo == 2">
            Mujer
          </div>
        </div>
      </div>
      <div class="row dato p-1">
        <div class="col-6 caracteristicas-usuario">
          Fecha de nacimiento
        </div>
        <div class="col-6 campos-usuario">
          {{usuarioLogueado.fecha_nacimiento | date: 'dd/MM/yyy'}}
        </div>
      </div>
      <div class="row dato p-1">
        <div class="col-6 caracteristicas-usuario">
          Número de teléfono
        </div>
        <div class="col-6 campos-usuario">
          {{usuarioLogueado.telefono}}
        </div>
      </div>
      <div class="row dato p-1">
        <div class="col-6 caracteristicas-usuario">
          Correo electrónico
        </div>
        <div class="col-6 campos-usuario">
          {{usuarioLogueado.email}}
        </div>
      </div>
    </div>
  </div>
</div>
  