<div class="row perfil-usuario">
  <div class="col-md-4 img-col">
    <img class="img-fluid" src="./../../../assets/imagenes/usuario.png" alt="Imagen de usuario"/>
  </div> 
  <div class="col-md-8 datos-col">
    <h1 class="usuario-header display-4 text-center">
      <i>{{usuarioLogueado.Nombre  | titlecase}} {{usuarioLogueado.PrimerApellido  | titlecase}} {{usuarioLogueado.SegundoApellido | titlecase}}</i>
      <br>
      <span class="rol-header display-4">
        {{usuarioLogueado.Perfil[0]}}
      </span>
    </h1>
    <div class="datos-usuario">
      <div class="row dato p-1">
        <div class="col-6 caracteristicas-usuario">
          Nombre de usuario
        </div>
        <div class="col-6 campos-usuario">
          {{usuarioLogueado.Usuario}}
        </div>
      </div>
      <div class="row dato p-1">
        <div class="col-6 caracteristicas-usuario">
          Sexo
        </div>
        <div class="col-6 campos-usuario">
          {{usuarioLogueado.Sexo}}
        </div>
      </div>
      <div class="row dato p-1">
        <div class="col-6 caracteristicas-usuario">
          Fecha de nacimiento
        </div>
        <div class="col-6 campos-usuario">
          {{usuarioLogueado.FechaNacimiento | date: 'dd/MM/yyyy'}}
        </div>
      </div>
      <div class="row dato p-1">
        <div class="col-6 caracteristicas-usuario">
          Número de teléfono
        </div>
        <div class="col-6 campos-usuario">
          {{usuarioLogueado.Telefono}}
        </div>
      </div>
      <div class="row dato p-1">
        <div class="col-6 caracteristicas-usuario">
          Correo electrónico
        </div>
        <div class="col-6 campos-usuario">
          {{usuarioLogueado.Email}}
        </div>
      </div>
    </div>
  </div>
</div>
  