.perfil-container {
    margin: 30px;
}

.perfil-card {
    color: #2A367B;
    width: 600px;
    outline: none;
    border-radius: 5px;
    margin: 10px;
}

.perfil-avatar {
    color: #2A7B6F;
    text-align: center;
}

.perfil-avatar .mat-icon {
    font-size: 26px;
}

.perfil-titulo {
    font-size: 20px;
}

.perfil-subtitulo {
    font-size: 16px;
}

.perfil-lista {
    padding: 10px;
}

.perfil-lista-titulo {
    font-size: 16px;
    font-weight: 500;
}

.perfil-lista-item {
    color: #2A7B6F;
    font-size: 16px;
}

::ng-deep .perfil-lista-titulo .mat-figure, ::ng-deep .perfil-lista-item .mat-figure {
    justify-content: flex-start !important;
 }

.perfil-lista-email {
    word-break: break-word;
}
