<GridLayout class="perfil-container" rows="auto, auto, auto" verticalalignment="center">
  <GridLayout row="0">
    <Label class="fas-perfil" text="&#xf2bd;"></Label>
  </GridLayout>
  <GridLayout row="1" rows="auto, auto" class="perfil-header">
    <GridLayout row="0" class="perfil-usuario">
      <Label text="{{usuarioLogueado.Nombre | titlecase}} {{usuarioLogueado.PrimerApellido | titlecase}} {{usuarioLogueado.SegundoApellido | titlecase}}" textWrap="true"></Label>
    </GridLayout>
    <GridLayout row="1" class="perfil-rol">
      <Label text="{{usuarioLogueado.Perfil[0]}}" textWrap="true"></Label>
    </GridLayout>
  </GridLayout>
  <GridLayout row="2" rows="auto, auto, auto, auto, auto" class="perfil-datos">
    <GridLayout row="0" columns="*, *" class="perfil-datos-row">
      <StackLayout col="0" class="perfil-datos-col-1">
        <Label text="Nombre de usuario" textWrap="true"></Label>
      </StackLayout>
      <StackLayout col="1" class="perfil-datos-col-2">
        <Label text="{{usuarioLogueado.Usuario}}" textWrap="true"></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout row="1" columns="*, *" class="perfil-datos-row">
      <StackLayout col="0" class="perfil-datos-col-1">
        <Label text="Sexo" textWrap="true"></Label>
      </StackLayout>
      <StackLayout col="1" class="perfil-datos-col-2">
        <Label text="{{usuarioLogueado.Sexo}}" textWrap="true"></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout row="2" columns="*, *" class="perfil-datos-row">
      <StackLayout col="0" class="perfil-datos-col-1">
        <Label text="Fecha de nacimiento" textWrap="true"></Label>
      </StackLayout>
      <StackLayout col="1" class="perfil-datos-col-2">
        <Label text="{{usuarioLogueado.FechaNacimiento | date: 'dd/MM/yyyy'}}" textWrap="true"></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout row="3" columns="*, *" class="perfil-datos-row">
      <StackLayout col="0" class="perfil-datos-col-1">
        <Label text="Número de teléfono" textWrap="true"></Label>
      </StackLayout>
      <StackLayout col="1" class="perfil-datos-col-2">
        <Label text="{{usuarioLogueado.Telefono}}" textWrap="true"></Label>
      </StackLayout>
    </GridLayout>
    <GridLayout row="4" columns="*, *" class="perfil-datos-row">
      <StackLayout col="0" class="perfil-datos-col-1">
        <Label text="Correo electrónico" textWrap="true"></Label>
      </StackLayout>
      <StackLayout col="1" class="perfil-datos-col-2">
        <Label text="{{usuarioLogueado.Email}}" textWrap="true"></Label>
      </StackLayout>
    </GridLayout>
  </GridLayout>
</GridLayout>
