<div class="perfil-container"  fxLayoutAlign="center">
  <mat-card class="perfil-card">
    <mat-card-header>
      <div mat-card-avatar class="perfil-avatar">
        <mat-icon class="perfil-icon">account_circle</mat-icon>
      </div>
      <mat-card-title class="perfil-titulo">{{usuarioLogueado.Nombre  | titlecase}} {{usuarioLogueado.PrimerApellido  | titlecase}} {{usuarioLogueado.SegundoApellido | titlecase}}</mat-card-title>
      <mat-card-subtitle class="perfil-subtitulo">{{usuarioLogueado.Perfil[0]}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="perfil-lista">
      <mat-grid-list cols="2" rowHeight="40px">
        <mat-grid-tile class="perfil-lista-titulo">Usuario</mat-grid-tile>
        <mat-grid-tile class="perfil-lista-item">{{usuarioLogueado.Usuario}}</mat-grid-tile>
        <mat-grid-tile class="perfil-lista-titulo">Sexo</mat-grid-tile>
        <mat-grid-tile class="perfil-lista-item">{{usuarioLogueado.Sexo}}</mat-grid-tile>
        <mat-grid-tile class="perfil-lista-titulo">Fecha de nacimiento</mat-grid-tile>
        <mat-grid-tile class="perfil-lista-item">{{usuarioLogueado.FechaNacimiento | date: 'dd/MM/yyyy'}}</mat-grid-tile>
        <mat-grid-tile class="perfil-lista-titulo">Número de teléfono</mat-grid-tile>
        <mat-grid-tile class="perfil-lista-item">{{usuarioLogueado.Telefono}}</mat-grid-tile>
        <mat-grid-tile class="perfil-lista-titulo">Correo electrónico</mat-grid-tile>
        <mat-grid-tile class="perfil-lista-item perfil-lista-email">{{usuarioLogueado.Email}}</mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
