.perfil-usuario {
    color: #2A367B;
    margin-top: 10%;
}

.img-col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.img-fluid {
    width: 200px;
    height: auto;
}

.datos-col {
    padding: 5%;
}

.usuario-header {
    font-size: 22px;
    padding-bottom: 5%;
    border-bottom: solid;
    border-width: 1px;
}

.rol-header {
    color: #4D2A7B;
    font-size: 16px;
}

.datos-usuario {
    font-size: 14px;
}

.dato:hover {
    background-color: rgba(77, 42, 123, 0.1);
    border-radius: 5px;
}

.caracteristicas-usuario {
    font-weight: 600;
}

.campos-usuario {
    color: #4D2A7B;
}
