<div class="lista-container">
  <mat-nav-list *ngIf="entrevistasDisponibles" fxLayout="row wrap" fxLayoutAlign="center">
    <mat-card mat-list-item class="lista-card" *ngFor="let entrevista of entrevistas" routerLink="/dashboard/entrevistas/{{entrevista.IdEntrevista}}">
      <mat-card-header>
        <mat-card-title class="lista-titulo">{{entrevista.Titulo}}</mat-card-title>
        <mat-card-subtitle class="lista-subtitulo">{{entrevista.Tooltip}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="lista-fecha">
        Fecha límite: {{entrevista.FechaLimite | date: 'dd/MM/yyyy'}}
      </mat-card-content>
    </mat-card>
  </mat-nav-list>
  <div *ngIf="!entrevistasDisponibles" fxLayoutAlign="center">
    <mat-card class="no-lista-card">
      <mat-card-header>
        <div mat-card-avatar class="card-avatar">
          <mat-icon class="no-lista-icon">tag_faces</mat-icon>
        </div>
        <mat-card-title class="lista-titulo">Está al día con los cuestionarios</mat-card-title>
        <!-- TODO -->
        <mat-card-subtitle *ngIf="null" class="lista-subtitulo">La próxima entrevista está prevista para el día:
          <span class="lista-fecha">22/6/2019</span>
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="!null" class="lista-subtitulo">Actualmente no tiene entrevistas previstas para los próximos días
        </mat-card-subtitle>
        <!-- TODO -->
      </mat-card-header>
  </mat-card>
  </div>
</div>
