.lista-container {
    margin: 20px;
}

.lista-card {
    color: #2A367B;
    width: 80%;
    outline: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.lista-card:hover {
    background-color: rgba(42, 54, 123, 0.01);
}

.lista-titulo {
    font-size: 20px;
}

.lista-subtitulo {
    font-size: 16px;
}

.lista-fecha {
    color: red;
    font-size: 16px;
    text-align: right;
}

.no-lista-card {
    color: #2A367B;
    width: 80%;
    outline: none;
    border-radius: 5px;
    margin: 10px;
}

.no-lista-icon {
    color: #2A7B6F;
    font-size: 26px;
    text-align: center;
}
