.lista-container {
    margin: 20px;
}

.lista-card {
    color: #2A367B;
    width: 80%;
    outline: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.lista-card:hover {
    background-color: rgba(42, 123, 111, 0.01);
}

.lista-titulo {
    font-size: 20px;
    font-weight: 500;
}

.lista-subtitulo {
    font-size: 16px;
    font-weight: 400;
}

.lista-fecha {
    color: red;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
}

.no-lista-card {
    color: #2A367B;
    width: 600px;
    outline: none;
    border-radius: 5px;
    margin: 20px 10px 10px 10px;
}

.no-lista-avatar {
    color: #2A7B6F;
    text-align: center;
}

.no-lista-avatar .mat-icon {
    font-size: 26px;
}
