.auth-container {
    margin: 25
}

.logo {
    width: 225;
}

.auth-header {
    color: #2A7B6F;
    font-size: 24;
    font-weight: 400;
    text-align: center;
    margin-top: 40;
    margin-bottom: 40;
}
