.auth-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.row {
    display: block; /* IE11 */
}

.logo {
    width: 50%;
    display: table;
    margin: auto; 
}

.auth-header {
    font-size: 22px;
}
