<GridLayout rows="auto, *, auto" verticalAlignment="center">
  <StackLayout row="0" class="item-fin">
    <Label text="¡Enhorabuena, ha finalizado la entrevista!" textWrap="true"></Label>
  </StackLayout>
  <StackLayout row="1">
    <Label class="fas-entrevista" text="&#xf46c;"></Label>
  </StackLayout>
  <GridLayout row="2" columns="*, *">
    <StackLayout col="0" class="item-fin-btn-l" [nsRouterLink]="['/dashboard/entrevistas']" nsRouterLinkActive="active"
    [nsRouterLinkActiveOptions]="{exact: true}">
        <Label text="Realizar otra entrevista" textWrap="true"></Label>
    </StackLayout>
    <StackLayout col="1" class="item-fin-btn-r" [nsRouterLink]="['/dashboard']" nsRouterLinkActive="active"
      [nsRouterLinkActiveOptions]="{exact: true}">
        <Label text="Volver a la pantalla de inicio" textWrap="true"></Label>
    </StackLayout>
  </GridLayout>
</GridLayout>
