<div class="fin-container" fxLayoutAlign="center">
  <mat-card class="fin-card">
    <mat-card-header>
      <div mat-card-avatar class="fin-avatar">
        <mat-icon>tag_faces</mat-icon>
      </div>
      <mat-card-title class="fin-titulo">
        ¡Enhorabuena!
      </mat-card-title>
      <mat-card-subtitle class="fin-subtitulo">
        El cuestionario se ha finalizado con éxito
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <div *ngIf="nEntrevistas">
          <button mat-button class="fin-button" routerLink="/dashboard">Página de Inicio</button>
          <button mat-button class="fin-button" routerLink="/dashboard/entrevistas" autofocus>
            Realizar otra entrevista
          </button>
      </div>
      <div *ngIf="!nEntrevistas">
        <button mat-button class="fin-button" routerLink="/dashboard" autofocus>Página de Inicio</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
