.brand-title {
    color: #4D2A7B;
    font-size: 22px;
}

a, .btn {
    color: #2A367B;
    font-weight: 600;
    box-shadow: none;
}

.dropdown-item {
    color: #2A367B;
    font-weight: normal;
}

.nav-item > a:hover, .btn:hover {
    color: #2A367B;
    background-color:rgba(42, 54, 123, 0.1);
    border-radius: 5px;
}

.active {
    color: white;
    background-color:#2A367B;
    border-radius: 5px;
}

.dropdown-menu {
    color: #2A367B;
    left: auto !important;
    right: 0px;
    display: none;
    margin-top: 0;
    border-color: #2A367B;
    border-radius: 5px;
}

.dropdown:hover >.dropdown-menu {
    display: block;
}

.dropdown-item.active {
    border-radius: 0px;
}

.dropdown-item:hover {
    color: #2A367B;
    background-color:rgba(42, 54, 123, 0.1);
    border-radius: 0px;
}
