<div class="inicio-container">
  <div fxLayout="row wrap" fxLayoutAlign.lt-md="center">
    <mat-card *ngIf="usuarioLogueado.Perfil[0] === 'Profesional de la salud'" class="card" routerLink="/dashboard/control">
      <mat-card-header>
        <div mat-card-avatar class="card-avatar">
          <mat-icon>dashboard</mat-icon>
        </div>
        <mat-card-title class="card-titulo">Panel de Control</mat-card-title>
        <mat-card-subtitle class="card-subtitulo">Interfaz gráfica que permite gestionar a los distintos usuarios y sus asiganciones</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="card" routerLink="/dashboard/diario" [ngStyle]="{'pointer-events': 'none', 'opacity': '0.5'}">
      <mat-card-header>
        <div mat-card-avatar class="card-avatar">
          <mat-icon>history</mat-icon>
        </div>
        <mat-card-title class="card-titulo">Diario</mat-card-title>
        <mat-card-subtitle class="card-subtitulo">Información y estadísticas sobre el periodo de seguimiento</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="card" routerLink="/dashboard/entrevistas">
      <mat-card-header>
        <div mat-card-avatar class="card-avatar">
          <mat-icon matBadge="{{nEntrevistas}}">assignment</mat-icon>
        </div>
        <mat-card-title class="card-titulo">Entrevistas</mat-card-title>
        <mat-card-subtitle class="card-subtitulo">Lista de cuestionarios a realizar como parte del proceso de seguimiento</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="card" routerLink="/dashboard/notificaciones" [ngStyle]="{'pointer-events': 'none', 'opacity': '0.5'}">
      <mat-card-header>
        <div mat-card-avatar class="card-avatar">
          <mat-icon>chat</mat-icon>
        </div>
        <mat-card-title class="card-titulo">Mensajes</mat-card-title>
        <mat-card-subtitle class="card-subtitulo">Comunicación entr el paciente y el clínico a lo largo del periodo de seguimiento</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="card" routerLink="/dashboard/perfil">
      <mat-card-header>
        <div mat-card-avatar class="card-avatar">
          <mat-icon>account_box</mat-icon>
        </div>
        <mat-card-title class="card-titulo">{{usuarioLogueado.Nombre | titlecase}} {{usuarioLogueado.PrimerApellido | titlecase}}</mat-card-title>
        <mat-card-subtitle class="card-subtitulo">Perfil de usuario</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
