<div class="row inicio-component">
  <div class="col-12">
    <h1 class="bienvenida-header display-4 text-center">
      Bienvenido <i>{{usuarioLogueado.Nombre | titlecase}} {{usuarioLogueado.PrimerApellido | titlecase}} {{usuarioLogueado.SegundoApellido | titlecase}}</i>
    </h1>
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card">
          <div class="card-header display-4 text-center">
            Entrevistas realizadas
          </div>
          <div class="card-body">
            <canvas baseChart
                    [datasets]="historialData"
                    [labels]="historialLabels"
                    [options]="historialOptions"
                    [colors]="historialColors"
                    [legend]="historialLegend"
                    [chartType]="historialType"
                    (chartHover)="historialHovered($event)"
                    (chartClick)="historialClicked($event)">
            </canvas>
          </div>
          <button class="card-footer btn" (click)="cambiarGrafica()">
            Cambiar visualización
          </button>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card">
          <div class="card-header display-4 text-center">
            Preguntas respondidas
          </div>
          <div class="card-body">
            <canvas baseChart
                    [data]="preguntasData"
                    [labels]="preguntasLabels"
                    [colors]="preguntasColors"
                    [chartType]="preguntasType"
                    (chartHover)="preguntasHovered($event)"
                    (chartClick)="preguntasClicked($event)">
            </canvas>
          </div>
          <button class="card-footer btn" (click)="randomize()">
            Actualizar
          </button>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-11">
        <div class="card">
          <div class="card-header display-4 text-center">
            Síntomas
          </div>
          <div class="card-body">
            <canvas baseChart
                    [datasets]="sintomasData"
                    [labels]="sintomasLabels"
                    [colors]="sintomasColors"
                    [chartType]="sintomasType"
                    (chartHover)="sintomasHovered($event)"
                    (chartClick)="sintomasClicked($event)">
            </canvas>
          </div>
          <button class="card-footer btn" (click)="randomize_2()">
            Actualizar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
