.inicio-container {
    margin: 30px;
}

.card {
    color: #2A367B;
    width: 300px;
    outline: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    padding-right: 0px;
    padding-bottom: 0px;
}

.card:hover {
    background-color: rgba(42, 54, 123, 0.01);
}

.card-avatar {
    color: #2A7B6F;
    text-align: center;
}

.card-avatar .mat-icon {
    font-size: 26px;
}

.card-avatar .mat-badge-content {
    color: white;
    background-color: orange;
    max-width: 20px;
    max-height: 20px;
    font-size: 12px;
    font-weight: 500;
}

.card-titulo {
    font-size: 20px;
    font-weight: 500;
}

.card-subtitulo {
    font-size: 16px;
    font-weight: 400;
}
